    /* 2.4.2.a - Use CSS3 to format the appearance of paragraphs, lists, headers, background images, tables, forms. */
    
    img:first-child {
        display: block;
    }
    
    img {
        margin: 20px 0;
    }
    
    ol li {
        margin-bottom: 15px;
    }
    
    p:first-of-type {
        margin-top: 0;
    }
    
    div.img-container {
        margin-bottom: 15px;
    }
    
    .about-container {
        text-align: left;
        max-width: 1100px;
    }
    
    @media only screen and (min-width: 750px) {
        .about-container {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: 0 auto;
        }
        .img-container {
            display: flex;
            justify-content: space-between;
        }
        .img-container img {
            width: 48%;
        }
    }
    
    @media only screen and (min-width: 1050px) {
        .about-container {
            width: 85%;
        }
        .about-left {
            flex: 1;
        }
        .about-right {
            flex: 1;
        }
    }