/**** 2.4.2.a - Use CSS3 to format the appearance of paragraphs, lists, headers, background images, tables, forms. */


/*****2.4.3.b - Apply appropriate styles to Web Forms. ********/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

h2 {
    margin-top: 60px;
}

h4 {
    margin-bottom: 15px;
}

input:focus,
textarea:focus,
keygen:focus,
select:focus {
    outline: none;
}

form {
    padding: 1.5rem;
    text-align: left;
    max-width: 550px;
    margin: 0 auto;
}

.form-row {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input,
textarea {
    margin-bottom: 15px;
    border: 1.5px lightgray solid;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.75rem;
}

input:focus,
textarea:focus {
    border: 1.5px gray solid;
}


/******** 2.4.2.b - Use CSS3 contextual selectors (e1, e2, e3; e f; e > f; e + f) and at least two attribute selectors, excluding class and id attribute selectors. *****/

textarea[name="user_message"] {
    height: 100px;
}


/******** 2.4.2.b - Use CSS3 contextual selectors (e1, e2, e3; e f; e > f; e + f) and at least two attribute selectors, excluding class and id attribute selectors. *****/

div[id="error"] {
    color: red;
}

.button-group {
    justify-content: start;
}


/***** Inline validation *****/


/*****2.4.3.c - Apply inline form validation by using the focus pseudo-class to appropriate form elements. *********/

input#fName:focus:valid,
input#lName:focus:valid,
input#mail:focus:valid,
input#phone:focus:valid {
    background: rgb(220, 255, 220);
}

input#fName:focus:invalid,
input#lName:focus:invalid,
input#mail:focus:invalid,
input#phone:focus:invalid {
    background: rgb(255, 232, 233);
}