* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

h2 {
	margin-top: 60px;
}
h4 {
	margin-bottom: 15px;
}

input:focus,
textarea:focus,
keygen:focus,
select:focus {
    outline: none;
}

form {
	padding: 1.5rem;
	text-align: left;
		max-width: 550px;
	margin: 0 auto;
}
.form-row {
	display: flex;
	flex-direction: column;

}

label {
	font-weight: bold;
	margin-bottom: 5px;
}

input,
textarea { 
	margin-bottom: 15px;
	border: 1.5px lightgray solid;
	padding: 10px;
	font-family: 'Quicksand', sans-serif;
	font-size: 0.75rem;
}

input:focus,
textarea:focus { 
	border: 1.5px gray solid;
}

textarea {
	height: 100px;
}

.button-group {
	justify-content: start;
}
.button {
	text-align: center;
}

