    /**** BASE STYLES *****/
    
    html {
        box-sizing: border-box;
        font-family: 'Quicksand', sans-serif;
        color: #3b3b42;
        font-size: 1.25rem;
    }
    
    body {
        margin: 0;
        text-align: center;
    }
    
    img {
        display: block;
        max-width: 100%;
    }
    
    img.logo {
        max-width: 100%;
        max-width: 400px;
        margin: 10px auto;
    }
    
    section {
        padding: 3rem 1rem;
        font-weight: bold;
    }
    
    .mb-0 {
        margin-bottom: 0;
    }
    /* Typography */
    
    h1,
    h2,
    h3,
    h4,
    p {
        margin: 0;
    }
    
    h2,
    h3 {
        font-family: 'Barriecito', cursive;
        line-height: 1;
        letter-spacing: 2px;
    }
    
    h2 {
        font-size: 3rem;
    }
    
    h2.text-primary {
        margin-bottom: 40px;
    }
    
    h3 {
        padding: 1rem 0;
    }
    
    p {
        margin-bottom: 0.85rem;
    }
    
    p:last-child {
        margin-bottom: 0;
    }
    
    .section-title-small {
        font-size: 2rem;
    }
    
    .section-title-small small {
        font-size: 0.7rem;
        line-height: 0.7;
    }
    
    .text-primary {
        color: #027F90;
    }
    
    .logo {
        font-family: 'Barriecito', cursive;
        text-align: center;
        font-size: 2rem;
        padding: 2rem 0;
    }
    /* Buttons */
    
    .button-group {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    button {
        padding: .75rem 2.5rem;
        color: white;
        text-decoration: none;
        display: inline-block;
        margin: 0.5rem 0;
        border: none;
        font-weight: bold;
        font-family: 'Quicksand', sans-serif;
        font-size: 1rem;
        cursor: pointer;
    }
    
    .button {
        padding: .75rem 2.5rem;
        color: white;
        text-decoration: none;
        display: inline-block;
        margin: 0.5rem 0;
    }
    
    .button-primary {
        background-color: #00B41F;
    }
    
    .button-primary:hover,
    .button-primary:focus {
        background-color: #007014;
    }
    
    .button-accent {
        background-color: #EBA100;
    }
    
    .button-accent:hover,
    .button-accent:focus {
        background-color: #BE8200;
    }
    /* Navigation */
    
    nav {
        background-color: #027F90;
        padding: 0.75rem 0;
        text-align: right;
        display: flex;
        align-content: center;
        box-shadow: black 3px 0px 5px;
        ;
    }
    
    .nav-warapper {
        max-width: 30rem;
    }
    
    h1 {
        display: none;
        color: white;
        font-family: 'Barriecito', cursive;
        letter-spacing: 3px;
    }
    
    nav ul {
        max-width: 1000px;
        margin: 0 auto;
    }
    
    nav ul {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        justify-content: space-around;
        display: none;
    }
    
    nav a {
        display: inline-block;
        padding: 0.5rem;
        color: white;
        text-decoration: none;
    }
    
    nav a:hover,
    nav a:focus {
        color: white;
        text-decoration: underline;
    }
    
    #burger {
        margin-right: 1.5rem;
    }
    
    .side-nav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #027F90;
        opacity: 0.9;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }
    
    .side-nav a {
        padding: 10px 10px 10px 30px;
        text-decoration: none;
        font-size: 1.5rem;
        color: white;
        display: block;
        transition: 0.3s;
    }
    
    .side-nav a:hover {
        text-decoration: underline;
    }
    
    .side-nav .btn-close {
        position: absolute;
        top: 0;
        right: 22px;
        font-size: 2rem;
        margin-left: 50px;
    }
    /* Homepage Styles */
    
    .hero {
        background-color: #333;
        background-image: url(../images/main_image.jpg);
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        color: white;
        padding: 15vh 1rem;
    }
    
    .text-center {
        text-align: center;
    }
    
    .about-us {
        background: #027F90;
        display: flex;
        flex-direction: column;
        color: white;
        padding: 0;
    }
    
    .about-us-intro {
        background-color: #027F90;
        background-image: url(../images/about_image.jpg);
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 3rem 1rem 1rem;
    }
    
    .about-us-body {
        padding: 1rem 1rem 3rem;
    }
    
    .order-online {
        background-color: #f3f3f3;
    }
    
    .products {
        display: flex;
        flex-direction: column;
        max-width: 30rem;
        margin: 0 auto;
    }
    
    .product {
        /* background-color: #f0f0f0; */
        padding: 1rem;
        border-radius: 0.35rem;
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
        margin-bottom: .75rem;
    }
    
    .product h3 {
        font-size: 1.5rem;
    }
    
    .product p {
        padding-top: 0.75rem;
    }
    
    .product:last-of-type {
        margin-bottom: 2rem;
    }
    /***** FOOTER ******/
    
    footer {
        background: #014F59;
        padding: 3rem 1rem;
        color: white;
        display: flex;
        justify-content: center;
        margin-top: 0;
    }
    
    .footer-nav {
        list-style: none;
        padding-left: 0;
    }
    
    .footer-nav a {
        color: inherit;
    }
    
    .footer-nav li {
        padding: 0.2rem;
    }
    
    .footer-nav a {
        margin: 10px;
        text-decoration: none;
    }
    
    .footer-nav a:hover {
        text-decoration: underline;
    }
    
    .footer-social {
        list-style: none;
    }
    
    .social-icon {
        width: 50px;
        padding: 0.2rem;
    }
    
    .social-link {
        display: inline-block;
        margin-bottom: 5px;
    }
    /***** Media Queries ******/
    
    @media only screen and (min-width: 750px) {
        nav ul {
            display: flex;
            flex-direction: row;
        }
        #burger {
            display: none;
        }
        .section-title {
            width: 80%;
            margin: 0 auto;
        }
        .logo {
            font-size: 3rem;
        }
        .intro h2 {
            width: 80%;
            margin: 0 auto;
        }
        section {
            padding: 6rem rem;
        }
        .button-group {
            flex-direction: row;
            justify-content: center;
            margin-top: 0.25rem;
        }
        .button+.button {
            margin-left: 0.5rem;
        }
        .order-online {
            padding: 4rem 3rem;
        }
        .order-online>* {
            max-width: 33rem;
            margin-left: auto;
            margin-right: auto;
        }
        .products {
            flex-direction: row;
            max-width: 1000px;
        }
        .product-showcase>p {
            margin-top: 1.5rem;
        }
        .product:last-of-type {
            margin-bottom: 0.75rem;
        }
        .product+.product {
            margin-left: 1rem;
        }
        .footer-nav:first-of-type {
            margin-right: 3rem;
        }
    }
    
    @media only screen and (min-width: 900px) {
        h1 {
            display: inline;
            margin-left: 6rem;
            margin-right: 3rem;
        }
        nav ul {
            margin-right: 6rem;
        }
        nav ul li {
            margin-right: 15px;
        }
        .about-us {
            flex-direction: row;
        }
        .about-us-intro,
        .about-us-body {
            flex: 0 1 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 4rem 4rem;
        }
        .about-us-intro {
            text-align: right;
        }
        .about-us-intro>* {
            max-width: 30rem;
            margin-left: auto;
        }
        .about-us-body {
            text-align: left;
        }
        .about-us-body>* {
            max-width: 30rem;
            margin-right: auto;
        }
    }