    /* 2.4.2.a - Use CSS3 to format the appearance of paragraphs, lists, headers, background images, tables, forms. */
    /**** BASE STYLES *****/
    
    html {
        box-sizing: border-box;
        font-family: 'Quicksand', sans-serif;
        color: #3b3b42;
        font-size: 1.25rem;
    }
    
    body {
        margin: 0;
        text-align: center;
    }
    
    img {
        display: block;
        max-width: 100%;
    }
    
    img.logo {
        max-width: 100%;
        max-width: 400px;
        margin: 10px auto;
    }
    
    section {
        padding: 3rem 1rem;
        font-weight: bold;
    }
    
    .mb-0 {
        margin-bottom: 0;
    }
    /* Typography */
    
    h1,
    h2,
    h3,
    h4,
    p {
        margin: 0;
    }
    
    h2,
    h3 {
        font-family: 'Barriecito', cursive;
        line-height: 1;
        letter-spacing: 2px;
    }
    
    h2 {
        font-size: 3rem;
    }
    
    h2.text-primary {
        margin-bottom: 40px;
    }
    
    h3 {
        padding: 1rem 0;
    }
    
    p {
        margin-bottom: 0.85rem;
    }
    /**** 2.4.2.d - Use of dynamic pseudo-classes to highlight hyperlinks states of link, visited, active, hover; focus and two structural pseudo-classes: first-of-type and last-of-type. **/
    
    p:last-child {
        margin-bottom: 0;
    }
    
    .section-title-small {
        font-size: 2rem;
    }
    
    .section-title-small small {
        font-size: 0.7rem;
        line-height: 0.7;
    }
    
    .text-primary {
        /**** 2.4.2.c - Link - Use of CSS3 styles for color (RGBA & HSLA). **/
        color: #fed03d;
        text-shadow: 2px 2px 3px black;
    }
    /**** 2.4.2.g - Define document content with the class and id properties and create styles for them. *******/
    
    .logo {
        font-family: 'Barriecito', cursive;
        text-align: center;
        font-size: 2rem;
        padding: 2rem 0;
    }
    /* Buttons */
    /****** 2.4.2.h - <a href="index.html">Home</a> - Use cascading styles to control page layout by using either grid, flex, float, positioning.******/
    
    .button-group {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    button {
        padding: .75rem 2.5rem;
        color: white;
        text-decoration: none;
        display: inline-block;
        margin: 0.5rem 0;
        border: none;
        font-weight: bold;
        font-family: 'Quicksand', sans-serif;
        font-size: 1rem;
        cursor: pointer;
    }
    
    .button {
        padding: .75rem 2.5rem;
        color: white;
        text-decoration: none;
        display: inline-block;
        margin: 0.5rem 0;
    }
    
    .button-accent {
        background-color: #344FA1;
    }
    /**** 2.4.2.d - Use of dynamic pseudo-classes to highlight hyperlinks states of link, visited, active, hover; focus and two structural pseudo-classes: first-of-type and last-of-type. **/
    
    .button-accent:hover,
    .button-accent:focus {
        background-color: #4E67B1;
    }
    /* Navigation */
    
    nav {
        /**** 2.4.2.c - Link - Use of CSS3 styles for color (RGBA & HSLA). **/
        background-color: hsl(46, 99%, 62%);
        padding: 0.75rem 0;
        text-align: right;
        display: flex;
        align-content: center;
        box-shadow: black 3px 0px 5px;
    }
    
    .nav-warapper {
        max-width: 20rem;
    }
    
    h1 {
        display: none;
        color: white;
        font-family: 'Barriecito', cursive;
        letter-spacing: 3px;
    }
    
    a.home_link:hover {
        text-decoration: none;
        color: black;
    }
    
    nav ul {
        max-width: 1000px;
        margin: 0 auto;
    }
    
    nav ul {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        justify-content: space-around;
        display: none;
    }
    
    nav a {
        display: inline-block;
        padding: 0.5rem;
        color: black;
        text-decoration: none;
        /****** 2.4.5.b - Use of transitions and animations ******/
        transition: font-size 0.5s ease-in-out;
    }
    
    nav li a:hover,
    nav li a:focus {
        font-size: 1.2rem;
    }
    
    nav li {
        display: flex;
        align-items: center;
    }
    
    #burger {
        margin-right: 1.5rem;
    }
    
    #burger svg path {
        color: black;
    }
    
    .side-nav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #fed03d;
        opacity: 0.9;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }
    
    .side-nav a {
        padding: 10px 10px 10px 30px;
        text-decoration: none;
        font-size: 1.5rem;
        color: black;
        display: block;
        transition: 0.3s;
    }
    
    .side-nav a:hover {
        text-decoration: underline;
    }
    
    .side-nav .btn-close {
        position: absolute;
        top: 0;
        right: 22px;
        font-size: 2rem;
        margin-left: 50px;
    }
    /* Homepage Styles */
    
    .hero {
        background-color: #333;
        background-image: url(../images/bees.jpg);
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        color: white;
        padding: 15vh 1rem;
    }
    
    .text-center {
        text-align: center;
    }
    
    .about-us {
        background: #fed03d;
        /****** 2.4.2.h - Use cascading styles to control page layout by using either grid, flex, float, positioning.******/
        display: flex;
        flex-direction: column;
        color: black;
        padding: 0;
    }
    
    .about-us-intro {
        /*** 2.4.2.e - Use of CSS3 background styles (background size, background-clip, background-origin, padding, margins, borders, use of an appropriate border style, use of rounded corners. ***/
        background-color: #fed03d;
        background-image: url(../images/about_image.jpg);
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 3rem 1rem 1rem;
    }
    
    .about-us-body {
        padding: 1rem 1rem 3rem;
    }
    
    .about-us-body p:first-of-type::first-letter {
        /***2.4.2.f - Link - Your home page should have a drop cap created with CSS3. ***/
        float: left;
        font-size: 75px;
        line-height: 60px;
        padding-top: 5px;
        padding-right: 8px;
        padding-left: 3px;
    }
    
    .order-online {
        background-color: #f3f3f3;
    }
    /*** TABLE *******/
    
    table {
        border-collapse: collapse;
        width: 100%;
        margin: 30px 0;
    }
    
    th {
        font-weight: bold;
    }
    
    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }
    
    .products {
        display: flex;
        flex-direction: column;
        max-width: 30rem;
        margin: 0 auto;
    }
    
    .product {
        /*** 2.4.2.e - Use of CSS3 background styles (background size, background-clip, background-origin, padding, margins, borders, use of an appropriate border style, use of rounded corners. ***/
        padding: 1rem;
        border-radius: 0.35rem;
        /***** 2.4.2.i - Use of CSS3 text and box shadows.*****/
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
        margin-bottom: .75rem;
    }
    /*** 2.4.2.k - Use of CSS3 opacity applied to two images to appear semi-transparent. *****/
    
    .product img {
        opacity: 0.5;
    }
    
    .product h3 {
        font-size: 1.5rem;
    }
    
    .product p {
        padding-top: 0.75rem;
    }
    
    .product-price {
        margin-top: 10px;
    }
    
    .product-price span {
        font-size: 0.8rem;
        margin-right: 10px;
        color: hsl(46, 99%, 62%);
    }
    /**** 2.4.2.d - Use of dynamic pseudo-classes to highlight hyperlinks states of link, visited, active, hover; focus and two structural pseudo-classes: first-of-type and last-of-type. **/
    
    .product:last-of-type {
        margin-bottom: 2rem;
    }
    /***** FOOTER ******/
    
    footer {
        background: #fed03d;
        padding: 3rem 1rem;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
    }
    
    .links-container {
        display: flex;
        justify-content: center;
    }
    
    .footer-nav {
        list-style: none;
        padding-left: 0;
    }
    
    .footer-nav a {
        color: inherit;
    }
    
    .footer-nav li {
        padding: 0.2rem;
    }
    
    .footer-nav a {
        margin: 10px;
        text-decoration: none;
    }
    
    .footer-nav a:hover {
        text-decoration: underline;
    }
    
    .footer-social {
        list-style: none;
    }
    
    .social-icon {
        width: 50px;
        padding: 0.2rem;
    }
    
    .social-link {
        display: inline-block;
        margin-bottom: 5px;
    }
    
    footer hr {
        border: none;
        border-top: 1px solid black;
        width: 85%;
    }
    
    footer p:first-of-type {
        margin-top: 30px;
    }
    /*****2.4.7.a - Your web site design should include responsive design implementation using concepts covered in this course that would accommodate desktop, tablet and mobile designs.****/
    /***** Media Queries ******/
    
    @media only screen and (min-width: 750px) {
        nav ul {
            display: flex;
            flex-direction: row;
        }
        #burger {
            display: none;
        }
        .section-title {
            width: 80%;
            margin: 0 auto;
        }
        .logo {
            font-size: 3rem;
        }
        .intro h2 {
            width: 80%;
            margin: 0 auto;
        }
        section {
            padding: 6rem rem;
        }
        .button-group {
            flex-direction: row;
            justify-content: center;
            margin-top: 0.25rem;
        }
        .button+.button {
            margin-left: 0.5rem;
        }
        .order-online {
            padding: 4rem 3rem;
        }
        .order-online>* {
            max-width: 33rem;
            margin-left: auto;
            margin-right: auto;
        }
        .products {
            flex-direction: row;
            max-width: 1000px;
        }
        /***** 2.4.2.b - Use CSS3 contextual selectors (e1, e2, e3; e f; e > f; e + f) and at least two attribute selectors *******/
        .product-showcase>p {
            margin-top: 1.5rem;
        }
        .product:last-of-type {
            margin-bottom: 0.75rem;
        }
        /***** 2.4.2.b - Use CSS3 contextual selectors (e1, e2, e3; e f; e > f; e + f) and at least two attribute selectors *******/
        .product+.product {
            margin-left: 1rem;
        }
        .footer-nav:first-of-type {
            margin-right: 3rem;
        }
    }
    
    @media only screen and (min-width: 900px) {
        h1 {
            display: inline;
            margin-left: 6rem;
            margin-right: 3rem;
        }
        nav ul {
            margin-right: 6rem;
        }
        nav ul li {
            margin-right: 15px;
        }
        .about-us {
            flex-direction: row;
        }
        .about-us-intro,
        .about-us-body {
            flex: 0 1 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 4rem 4rem;
        }
        .about-us-intro {
            text-align: right;
        }
        .about-us-intro>* {
            max-width: 30rem;
            margin-left: auto;
        }
        .about-us-body {
            text-align: left;
        }
        .about-us-body>* {
            max-width: 30rem;
            margin-right: auto;
        }
    }